In [1]:
import pandas as pd

In [8]:
hist = pd.read_csv("E:/Datasets/historical.csv")

In [11]:
hist.dtypes

last_name              object
first_name             object
middle_name            object
suffix                 object
nickname               object
full_name              object
birthday               object
gender                 object
type                   object
state                  object
district              float64
senate_class          float64
party                  object
url                    object
address                object
phone                  object
contact_form           object
rss_url                object
twitter               float64
twitter_id            float64
facebook              float64
youtube               float64
youtube_id            float64
mastodon              float64
bioguide_id            object
thomas_id             float64
opensecrets_id         object
lis_id                 object
fec_ids                object
cspan_id              float64
govtrack_id             int64
votesmart_id          float64
ballotpedia_id         object
washington_post_id    float64
icpsr_id              float64
wikipedia_id           object
dtype: object

In [12]:
hist['twitter_id'].median()

c:\Users\hp\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\lib\_nanfunctions_impl.py:1241: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

np.float64(nan)

In [13]:
hist.describe()

,district,senate_class,twitter,twitter_id,facebook,youtube,youtube_id,mastodon,thomas_id,cspan_id,govtrack_id,votesmart_id,washington_post_id,icpsr_id
count,10296.000000,1849.000000,0.0,0.0,0.0,0.0,0.0,0.0,1916.000000,5.470000e+02,12145.000000,732.000000,0.0,11922.000000
mean,8.167152,2.017847,NaN,NaN,NaN,NaN,NaN,NaN,1018.961378,5.819086e+05,405530.649568,52944.539617,NaN,7449.423838
std,8.215512,0.806632,NaN,NaN,NaN,NaN,NaN,NaN,617.343692,1.568715e+06,10166.595892,49925.369170,NaN,6824.521844
min,-1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,5.000000e+00,300001.000000,0.000000,NaN,1.000000
25%,2.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,494.750000,2.613450e+04,403136.000000,21788.500000,NaN,3112.250000
50%,6.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,989.500000,6.843200e+04,406259.000000,27117.000000,NaN,6244.500000
75%,11.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,1482.250000,1.003604e+06,409383.000000,70126.250000,NaN,9365.750000
max,53.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,2293.000000,9.278255e+06,456921.000000,208849.000000,NaN,99342.000000

In [15]:
hist.columns

Index(['last_name', 'first_name', 'middle_name', 'suffix', 'nickname',
       'full_name', 'birthday', 'gender', 'type', 'state', 'district',
       'senate_class', 'party', 'url', 'address', 'phone', 'contact_form',
       'rss_url', 'twitter', 'twitter_id', 'facebook', 'youtube', 'youtube_id',
       'mastodon', 'bioguide_id', 'thomas_id', 'opensecrets_id', 'lis_id',
       'fec_ids', 'cspan_id', 'govtrack_id', 'votesmart_id', 'ballotpedia_id',
       'washington_post_id', 'icpsr_id', 'wikipedia_id'],
      dtype='object')

In [19]:
hist['gender'].value_counts()

gender
M    11874
F      271
Name: count, dtype: int64

In [20]:
hist['gender'].count()

np.int64(12145)

In [21]:
hist['gender'].value_counts(normalize=True)

gender
M    0.977686
F    0.022314
Name: proportion, dtype: float64

In [22]:
country_grp = hist.groupby(['gender'])

In [23]:
filt = hist['gender'] == 'F'
hist.loc[filt].value_counts()

Series([], Name: count, dtype: int64)

In [14]:
country_grp['City'].value_counts(normalize=True).loc['Eagle River']

1.0

How many last_name available in each state

In [33]:
state = hist.groupby("state")["last_name"].count()
state.head()

state
AK     17
AL    211
AR    117
AS      2
AZ     51
Name: last_name, dtype: int64

How many gender available in each state

In [38]:
gen = hist.groupby(["state","gender"])['last_name'].count()
gen.head(8)

state  gender
AK     M          17
AL     F           4
       M         207
AR     F           5
       M         112
AS     M           2
AZ     F           5
       M          46
Name: last_name, dtype: int64

In [52]:
hist.groupby(["state","gender"],as_index=False)["last_name"].count().head()

  state gender  last_name
0    AK      M         17
1    AL      F          4
2    AL      M        207
3    AR      F          5
4    AR      M        112

How many last name are available in each state

In [55]:
last =hist.groupby("state", sort=False)["last_name"].count().head()

In [26]:
# column Name
column_name = ['sales_number','sales_order_line','Order_date','customer_Name','Email_Addree','Item','Quantity','unit_Price','Taxt_Amount']

In [27]:
df_2021 = pd.read_csv('D:/Project/Data Sciences/pandas/2021.csv', names=column_name )

In [28]:
df_2021.columns

Index(['sales_number', 'sales_order_line', 'Order_date', 'customer_Name',
       'Email_Addree', 'Item', 'Quantity', 'unit_Price', 'Taxt_Amount'],
      dtype='object')

In [60]:
df = pd.read_csv('https://raw.githubusercontent.com/owid/co2-data/master/owid-co2-data.csv')

In [62]:
df[df['country']=='North America'].head(2)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
30956,North America,1750,NaN,11396206.0,NaN,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30957,North America,1751,NaN,NaN,NaN,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
import numpy as np

In [70]:
# Fill NAs with 0s and create GDP per capita column
df = df.fillna(0)
df['gdp_per_capita'] = np.where(df['population']== 0, df['gdp']/ df['population'], 0)
df.head(3)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share,gdp_per_capita
0,Afghanistan,1850,AFG,3752993.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,1851,AFG,3767956.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,1852,AFG,3783940.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0