In [1]:
import pandas as pd

In [8]:
data = pd.Series(['Kolkata', 'Chicago', 'Toronto', 'Lisbon'], index=['a','b','c','d'])

In [11]:
data[:4]

a    Kolkata
b    Chicago
c    Toronto
d     Lisbon
dtype: object

In [ ]:
data[3]

In [14]:
stocks = pd.read_csv('D:/Project/Data Sciences/pandas/13- style DataFrame/stock.csv')

Extracting elements from back

In [15]:
data[-3:]

b    Chicago
c    Toronto
d     Lisbon
dtype: object

Extracting a sngle element

In [16]:
data[3]

C:\Users\hp\AppData\Local\Temp\ipykernel_5556\977688468.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data[3]

'Lisbon'

Extracting a sequence of element

In [17]:
stocks[:4]

       Date   Close    Volume Symbol
0  03-10-16   31.50  14070500   CSCO
1  03-10-16  112.52  21701800   AAPL
2  03-10-16   57.42  19189500   MSFT
3  04-10-16  113.00  29736800   AAPL

In [18]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    9 non-null      object
 1   Close   9 non-null      float64
 2   Volume  9 non-null      int64
 3   Symbol  9 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 420.0+ bytes

In [9]:
stocks['Date'].str.contains('05-10-16', na=False)

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8     True
Name: Date, dtype: bool

In [16]:
stocks.loc