In [1]:
import pandas as pd

In [3]:
stocks = pd.read_csv('D:/Project/Data Sciences/pandas/stock.csv')

In [4]:
stocks

       Date   Close    Volume Symbol
0  03-10-16   31.50  14070500   CSCO
1  03-10-16  112.52  21701800   AAPL
2  03-10-16   57.42  19189500   MSFT
3  04-10-16  113.00  29736800   AAPL
4  04-10-16   57.24  20085900   MSFT
5  04-10-16   31.35  18460400   CSCO
6  05-10-16   57.64  16726400   MSFT
7  05-10-16   31.59  11808600   CSCO
8  05-10-16  113.05  21453100   AAPL

In [7]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    9 non-null      object
 1   Close   9 non-null      float64
 2   Volume  9 non-null      int64
 3   Symbol  9 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 416.0+ bytes

In [9]:
stocks['Date'].str.contains('05-10-16', na=False)

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7     True
8     True
Name: Date, dtype: bool

In [16]:
stocks.loc