In [1]:
data = {
    "first": ["subham", 'Mohan', 'Sohan','sita'], 
    "last": ["kumar", 'kumar', 'kuamr','kumari'], 
    "email": ["r@gmail.com", 'e@email.com', 'e@email.com','e@email.com']
}

In [2]:
import pandas as pd

In [4]:
df = pd.DataFrame(data)

In [5]:
df

    first    last        email
0  subham   kumar  r@gmail.com
1   Mohan   kumar  e@email.com
2   Sohan   kuamr  e@email.com
3    sita  kumari  e@email.com

In [9]:
filt = (df['last'] == 'kumar') | (df['first'] == 'subham')
filt

0     True
1     True
2    False
3    False
dtype: bool

In [11]:
df.loc[~filt, 'email']

2    e@email.com
3    e@email.com
Name: email, dtype: object