In [1]:
import pandas as pd

In [2]:
data = {
    "first": ["subham", 'Mohan', 'Sohan','sita'], 
    "last": ["kumar", 'kumar', 'kuamr','kumari'], 
    "email": ["r@gmail.com", 'e@email.com', 'e@email.com','e@email.com']
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

    first    last        email
0  subham   kumar  r@gmail.com
1   Mohan   kumar  e@email.com
2   Sohan   kuamr  e@email.com
3    sita  kumari  e@email.com

In [5]:
filt = (df['last'] == 'kumar') | (df['first'] == 'subham')
filt

0     True
1     True
2    False
3    False
dtype: bool

In [6]:
df.loc[~filt, 'email']

2    e@email.com
3    e@email.com
Name: email, dtype: object

In [2]:
coffees = pd.DataFrame({'Day':['Monday','Monday','Tuesday','Tuesday','Wednesday','Wednesday',
                              'Thursday','Thrusday','Friday','Friday','Saturday','Saturday','Sunday','Sunday'] , 
                              'Coffee Type' : ['Cortado','Latte','CAppuccino ','Mocha','Caffe machhiato','Cuban espresso','Espresso','Latte','Espresso',
                                                'Lattle','Flat white','Long Black','Espresso','Lattle'],
                              'Units Solid' : [25,15,30,20,35,25,40,30,45,35,45,50,55,60]

})

In [3]:
coffees.head()

         Day      Coffee Type  Units Solid
0     Monday          Cortado           25
1     Monday            Latte           15
2    Tuesday      CAppuccino            30
3    Tuesday            Mocha           20
4  Wednesday  Caffe machhiato           35

In [4]:
# loc
# coffee.loc[Rows, Columns]
coffees.loc[0]

Day             Monday
Coffee Type    Cortado
Units Solid         25
Name: 0, dtype: object

In [5]:
coffees.loc[5:9, ["Day", "Units Solid"] ]

         Day  Units Solid
5  Wednesday           25
6   Thursday           40
7   Thrusday           30
8     Friday           45
9     Friday           35

In [6]:
coffees.index= coffees['Day']
coffees.head()

                 Day      Coffee Type  Units Solid
Day
Monday        Monday          Cortado           25
Monday        Monday            Latte           15
Tuesday      Tuesday      CAppuccino            30
Tuesday      Tuesday            Mocha           20
Wednesday  Wednesday  Caffe machhiato           35

In [7]:
coffees.loc['Monday': 'Tuesday']

             Day  Coffee Type  Units Solid
Day
Monday    Monday      Cortado           25
Monday    Monday        Latte           15
Tuesday  Tuesday  CAppuccino            30
Tuesday  Tuesday        Mocha           20

In [8]:
coffees[coffees['Units Solid']>35]

               Day Coffee Type  Units Solid
Day
Thursday  Thursday    Espresso           40
Friday      Friday    Espresso           45
Saturday  Saturday  Flat white           45
Saturday  Saturday  Long Black           50
Sunday      Sunday    Espresso           55
Sunday      Sunday      Lattle           60

In [13]:
coffees[coffees['Units Solid']>35][['Day']]

               Day
Day
Thursday  Thursday
Friday      Friday
Saturday  Saturday
Saturday  Saturday
Sunday      Sunday
Sunday      Sunday

In [10]:
coffees[(coffees['Units Solid']>35) & (coffees['Day']=='Friday') ]

           Day Coffee Type  Units Solid
Day
Friday  Friday    Espresso           45