It is the most commonly used Pandas object. The pd.DataFrame() function is used to create a DataFrame in Pandas. There are several ways to create a Pandas Dataframe in Python.

In [ ]:
import pandas as pd
import requests

:

Creating a DataFrame from a Dictionary

In [2]:
data = {'Name' : ['subham kumar','Sonu','Monu','Ram'],
        'Age' : [20,21,19,18]}

data_f = pd.DataFrame(data)
data_f

           Name  Age
0  subham kumar   20
1          Sonu   21
2          Monu   19
3           Ram   18

Create an Empty DataFrame

In [7]:
df_empty = pd.DataFrame()
print(df_empty)

Empty DataFrame
Columns: []
Index: []

Creating a DataFrame from Lists or Arrays

In [3]:
data_array = [['Monu' ,12],['sonu',13], ['kumar',34]]

data_arr  = pd.DataFrame(data_array, columns=['Name' ,'age'])
data_arr

    Name  age
0   Monu   12
1   sonu   13
2  kumar   34

Create DataFrame from List of Dictionari

In [4]:
data = [{'a':12,'b':34}, {'a':56,'b':34,'c':12, 'D':67}]

pd.DataFrame(data)

    a   b     c     D
0  12  34   NaN   NaN
1  56  34  12.0  67.0

Creating a DataFrame from Another DataFrame

In [15]:
pd.DataFrame({'a':12,'b':34}, {'a':56,'b':34,'c':12, 'D':67})

    a   b
a  12  34
b  12  34
c  12  34
D  12  34

Create DataFrame from a Dictionary of Series

In [19]:
# Initialize data to Dicts of series.
d = {'one': pd.Series([10, 20, 30, 40],
                      index=['a', 'b', 'c', 'd']),
      'two': pd.Series([10,20,30,40], index=['a','b','c','d'])}

df_ser = pd.DataFrame(d)
df_ser

   one  two
a   10   10
b   20   20
c   30   30
d   40   40

Create DataFrame using the zip() function

Two lists can be merged by using the zip() function

In [29]:
# List1
Name = ['tom', 'krish', 'nick', 'juli']

# List2
Age = [25, 30, 26, 22]

# get the list of tuples from two lists.
# and merge them by using zip().

list_of_tuples = list(zip(Name, Age))

list_zip = pd.DataFrame(list_of_tuples, columns=['Name' , 'Age'])

# Convert 'Age' column to float
list_zip['Age'] = list_zip['Age'].astype(float)
list_zip

    Name   Age
0    tom  25.0
1  krish  30.0
2   nick  26.0
3   juli  22.0

Create a DataFrame by Proving the Index Label Explicitly

In [10]:
# initialize data of lists.
data = {'Name': ['Tom', 'Jack', 'nick', 'juli'],
        'marks': [99, 98, 95, 90]}

data_f= pd.DataFrame(data, index=['rank1',
                               'rank2',
                               'rank3',
                               'rank4'] )
data_f

       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90

In [11]:
def update_marks(data_Frame):
    if data_f['marks']>95:
        return 'Medium level'
    elif data_f['marks']<95:
        return 'low level'
    else:
        return 'high level'

Create DataFrame from List with Index and Column Names

In [16]:
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']

# Calling DataFrame constructor on list
# with indices and columns specified
pd.DataFrame(lst, index =['a', 'b', 'c', 'd', 'e', 'f', 'g'],
                                              columns =['Names'])

    Names
a   Geeks
b     For
c   Geeks
d      is
e  portal
f     for
g   Geeks

Pandas Dataframe from 2D List using pd.DataFrame.from_dict()

In [21]:
# Two-dimensional list
data = [['kumar' , 12, 'Scientist'],
        ['Raj',23,'Researche']]
columns = ['Name', 'Age', 'Occupation']
# Creating DataFrame using pd.DataFrame.from_dict()
pd.DataFrame.from_dict(dict(zip(columns, zip(*data))))

    Name  Age Occupation
0  kumar   12  Scientist
1    Raj   23  Researche

DataFrame from 2D list using pd.DataFrame.from_records()

In [34]:
# Creating DataFrame using pd.DataFrame.from_records()
pd.DataFrame.from_records(data, columns=columns)

    Name  Age Occupation
0  kumar   12  Scientist
1    Raj   23  Researche

In [22]:
df = pd.read_json('D:/Project/Data Sciences/2 - working-with-json/train.json')

In [23]:
dataframe = pd.DataFrame(df)
dataframe.head(8)

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...
5   6602     jamaican  [plain flour, sugar, butter, eggs, fresh ginge...
6  42779      spanish  [olive oil, salt, medium shrimp, pepper, garli...
7   3735      italian  [sugar, pistachio nuts, white almond bark, flo...

In [25]:
da=dataframe.groupby('cuisine')['id'].sum()
da

cuisine
brazilian        11895595
british          20270571
cajun_creole     38287985
chinese          66170404
filipino         18788558
french           65182203
greek            28973454
indian           75572319
irish            16672102
italian         193886884
jamaican         12875218
japanese         35387114
korean           20800398
mexican         160221898
moroccan         20923439
russian          12518225
southern_us     106597899
spanish          24974327
thai             38036831
vietnamese       20330059
Name: id, dtype: int64

In [4]:
x = requests.get('https://w3schools.com')
print(x.status_code)

200

In [22]:
resp = requests.get('https://reqres.in/api/users')
print(resp.json()['page'])

1

In [23]:
print(resp.json())

{'page': 1, 'per_page': 6, 'total': 12, 'total_pages': 2, 'data': [{'id': 1, 'email': 'george.bluth@reqres.in', 'first_name': 'George', 'last_name': 'Bluth', 'avatar': 'https://reqres.in/img/faces/1-image.jpg'}, {'id': 2, 'email': 'janet.weaver@reqres.in', 'first_name': 'Janet', 'last_name': 'Weaver', 'avatar': 'https://reqres.in/img/faces/2-image.jpg'}, {'id': 3, 'email': 'emma.wong@reqres.in', 'first_name': 'Emma', 'last_name': 'Wong', 'avatar': 'https://reqres.in/img/faces/3-image.jpg'}, {'id': 4, 'email': 'eve.holt@reqres.in', 'first_name': 'Eve', 'last_name': 'Holt', 'avatar': 'https://reqres.in/img/faces/4-image.jpg'}, {'id': 5, 'email': 'charles.morris@reqres.in', 'first_name': 'Charles', 'last_name': 'Morris', 'avatar': 'https://reqres.in/img/faces/5-image.jpg'}, {'id': 6, 'email': 'tracey.ramos@reqres.in', 'first_name': 'Tracey', 'last_name': 'Ramos', 'avatar': 'https://reqres.in/img/faces/6-image.jpg'}], 'support': {'url': 'https://reqres.in/#support-heading', 'text': 'To keep ReqRes free, contributions towards server costs are appreciated!'}}

In [13]:
requests.get("https://api.github.com")

In [14]:
requests.__version__

'2.32.3'

In [24]:
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

ConnectTimeout: HTTPSConnectionPool(host='api.themoviedb.org', port=443): Max retries exceeded with url: /3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x000002BC42C8AEC0>, 'Connection to api.themoviedb.org timed out. (connect timeout=None)'))

In [ ]:
df.head()