In [6]:
import pandas as pd
import openpyxl

In [8]:
# Read excel file and store in to DataFrame 

# https://www.geeksforgeeks.org/how-to-extract-time-data-from-an-excel-file-column-using-pandas/?ref=ml_lbp

# data = pd.read_excel("D:/Project/Data Sciences/pandas/10-Datetime-Timeseries/time_sample_data.xlsx")

In [149]:
date = pd.read_csv('orders.csv')

In [150]:
date.head()

         date  product_id  city_id  orders
0  2019-12-10        5628       25       3
1  2018-08-15        3646       14     157
2  2018-10-23        1859       25       1
3  2019-08-17        7292       25       1
4  2019-01-06        4344       25       3

In [126]:
date.dtypes

date          object
product_id     int64
city_id        int64
orders         int64
dtype: object

In [127]:
date['date'] = pd.to_datetime(date['date'])

In [129]:
date.dtypes

date          datetime64[ns]
product_id             int64
city_id                int64
orders                 int64
dtype: object

In [107]:
date['date'].max() - date['date'].min()

Timedelta('524 days 00:00:00')

In [132]:
fit =(date['date']==pd.to_datetime('2019-12-10')) & (date['date']==pd.to_datetime('2019-12-10'))

In [133]:
date.loc[fit]

          date  product_id  city_id  orders
0   2019-12-10        5628       25       3
148 2019-12-10         561       13       1
246 2019-12-10        2253       13      46
259 2019-12-10        7246       13       1

In [135]:
date.set_index('date', inplace=True)

In [162]:
date1 = pd.read_csv('orders.csv')

In [163]:
date1.dtypes

date          object
product_id     int64
city_id        int64
orders         int64
dtype: object