In [1]:
import pandas as pd

In [48]:
df = pd.DataFrame({'id':['id1','id2','id3', 'id2'],
                      'Date1': ['2023-01-01', '2023-04-01', '2023-09-01', '2023-11-01'],
                      'Date2': ['2023-01-02', '2023-04-02', '2023-09-02', '2023-11-02'],
                      'Date3': ['2023-01-03', '2023-04-03', '2023-09-03', '2023-11-03'],
                      'email' : ['2023-01-03','ak.df@gmail.com','ak.df@gmail.com','ak.df@gmail.com']
                      })

In [49]:
df

    id       Date1       Date2       Date3            email
0  id1  2023-01-01  2023-01-02  2023-01-03       2023-01-03
1  id2  2023-04-01  2023-04-02  2023-04-03  ak.df@gmail.com
2  id3  2023-09-01  2023-09-02  2023-09-03  ak.df@gmail.com
3  id2  2023-11-01  2023-11-02  2023-11-03  ak.df@gmail.com

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      4 non-null      object
 1   Date1   4 non-null      object
 2   Date2   4 non-null      object
 3   Date3   4 non-null      object
 4   email   4 non-null      object
dtypes: object(5)
memory usage: 288.0+ bytes

In [54]:
df['Date1'] =pd.to_datetime(df['Date1'], yearfirst=True , format='%y-%m-%d'  )

In [55]:
df.dtypes

id               object
Date1    datetime64[ns]
Date2            object
Date3            object
email            object
dtype: object

In [56]:
df['Date1'].max() - df['Date1'].min()

Timedelta('304 days 00:00:00')

In [57]:
df

    id      Date1       Date2       Date3            email
0  id1 2023-01-01  2023-01-02  2023-01-03       2023-01-03
1  id2 2023-04-01  2023-04-02  2023-04-03  ak.df@gmail.com
2  id3 2023-09-01  2023-09-02  2023-09-03  ak.df@gmail.com
3  id2 2023-11-01  2023-11-02  2023-11-03  ak.df@gmail.com

In [60]:
df['email']=df['email'].str.contains(r'example\.com$', regex=True)

In [58]:
df

    id      Date1       Date2       Date3            email
0  id1 2023-01-01  2023-01-02  2023-01-03       2023-01-03
1  id2 2023-04-01  2023-04-02  2023-04-03  ak.df@gmail.com
2  id3 2023-09-01  2023-09-02  2023-09-03  ak.df@gmail.com
3  id2 2023-11-01  2023-11-02  2023-11-03  ak.df@gmail.com

In [59]:
# Custom function to filter based on email length
def filter_email_length(email):
    return len(email) >= 20
# Applying custom filter function
filter_email_length(df['email'])

False