In [46]:
import pandas as pd
import numpy as np

In [65]:
na_values = ['NA', 'Missing']
df = pd.read_csv('D:/Project/Data Sciences/pandas/uforeports.csv', na_values=na_values)

In [67]:
df.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   06-01-30 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   06-01-31 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [68]:
df['City'].unique()

array(['Ithaca', 'Willingboro', 'Holyoke', ..., 'Capitola', 'Grant Park',
       'Ybor'], dtype=object)

In [69]:
df.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

In [72]:
df['Colors Reported'].replace(np.NaN,0).head()

0    0
1    0
2    0
3    0
4    0
Name: Colors Reported, dtype: object