In [1]:
import pandas as pd
import numpy as np

In [2]:
na_values = ['NA', 'Missing']
df = pd.read_csv('D:/Project/Data Sciences/pandas/uforeports.csv', na_values=na_values)

In [3]:
df.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   06-01-30 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   06-01-31 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
df['City'].unique()

array(['Ithaca', 'Willingboro', 'Holyoke', ..., 'Capitola', 'Grant Park',
       'Ybor'], dtype=object)

In [5]:
df.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

In [15]:
df['Colors Reported'].replace(np.nan,0).head(12)

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
Name: Colors Reported, dtype: object

Drop duplicate values

In [41]:
df1= df.drop_duplicates()

In [20]:
data1 =df["Shape Reported"] = df["Shape Reported"].str.replace('nan--','')

Remove White space

In [22]:
data1 =df["Shape Reported"] = df["Shape Reported"].str.strip()

In [ ]:
# df["Shape Reported"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

In [25]:
df['Colors Reported'].apply(lambda x: str(x))

0        nan
1        nan
2        nan
3        nan
4        nan
        ...
18236    nan
18237    nan
18238    nan
18239    RED
18240    nan
Name: Colors Reported, Length: 18241, dtype: object

In [40]:
df['Colors Reported'].str.replace('[^a-zA-Z0-9]','')

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
18236    NaN
18237    NaN
18238    NaN
18239    RED
18240    NaN
Name: Colors Reported, Length: 18241, dtype: object

In [ ]:
 for x in df['Colors Reported']:
    if df.loc[x] == '':
        df.drop(x, inplace=True)