In [1]:
import pandas as pd

In [10]:
df =pd.read_json('train.json')

In [6]:
df.head(12)

       id      cuisine                                        ingredients
0   10259        greek  [romaine lettuce, black olives, grape tomatoes...
1   25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2   20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3   22213       indian                [water, vegetable oil, wheat, salt]
4   13162       indian  [black pepper, shallots, cornflour, cayenne pe...
5    6602     jamaican  [plain flour, sugar, butter, eggs, fresh ginge...
6   42779      spanish  [olive oil, salt, medium shrimp, pepper, garli...
7    3735      italian  [sugar, pistachio nuts, white almond bark, flo...
8   16903      mexican  [olive oil, purple onion, fresh pineapple, por...
9   12734      italian  [chopped tomatoes, fresh basil, garlic, extra-...
10   5875      italian  [pimentos, sweet pepper, dried oregano, olive ...
11  45887      chinese  [low sodium soy sauce, fresh ginger, dry musta...

In [36]:
import mysql.connector
from sqlalchemy import create_engine

In [37]:
conn = mysql.connector.connect(host = "localhost" , user = "root" , password = "tiger" ,  database = "Data" )

In [39]:
conn1  = conn.cursor()

In [40]:
conn1.execute('select * from student')

In [41]:
conn1.fetchall()

[('Nikhil', 'CSE', 98, 'A', 18),
 ('Nisha', 'CSE', 99, 'A', 18),
 ('Rohan', 'MAE', 43, 'B', 20),
 ('Amit', 'ECE', 24, 'A', 21),
 ('Anil', 'MAE', 45, 'B', 20),
 ('Megha', 'ECE', 55, 'A', 22),
 ('Nikhil', 'CSE', 98, 'A', 18),
 ('Nisha', 'CSE', 99, 'A', 18),
 ('Rohan', 'MAE', 43, 'B', 20),
 ('Amit', 'ECE', 24, 'A', 21),
 ('Anil', 'MAE', 45, 'B', 20),
 ('Megha', 'ECE', 55, 'A', 22)]