In [1]:
import pandas as pd

In [2]:
stock = pd.read_csv('stock.csv')

In [3]:
format_date = {'Date' :'{%m/%d/%y}', 'Close':'${:.2f}', 'Volume':'{:,}'}

In [4]:
stock.style.background_gradient(subset='Volume', cmap='Blues')

In [2]:
# stock.style.format(format_date)