In [1]:
import pandas as pd

In [32]:
df = pd.read_excel('D:/Project/data_analyst_project/Vrinda store/Vrinda Store Data Analysis.xlsx',sheet_name='Vrinda Store' )

In [37]:
time = pd.read_csv('orders.csv')
time

           date  product_id  city_id  orders
0    2019-12-10        5628       25       3
1    2018-08-15        3646       14     157
2    2018-10-23        1859       25       1
3    2019-08-17        7292       25       1
4    2019-01-06        4344       25       3
..          ...         ...      ...     ...
995  2018-10-08         255       13       1
996  2018-12-06        5521        7       1
997  2019-05-07         487       26      14
998  2019-03-03        1503       21       2
999  2019-10-15        6371        7      22

[1000 rows x 4 columns]

In [27]:
time['date'] = pd.to_datetime(time['date'])

In [33]:
df.columns

Index(['Index', 'Order ID', 'Cust ID', 'Gender', 'Age', 'Age Group', 'Date',
       'Month', 'Status', 'Channel ', 'SKU', 'Category', 'Size', 'Qty',
       'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code',
       'ship-country', 'B2B'],
      dtype='object')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31047 entries, 0 to 31046
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Index             31047 non-null  int64
 1   Order ID          31047 non-null  object
 2   Cust ID           31047 non-null  int64
 3   Gender            31047 non-null  object
 4   Age               31047 non-null  int64
 5   Age Group         31047 non-null  object
 6   Date              31047 non-null  datetime64[ns]
 7   Month             31047 non-null  object
 8   Status            31047 non-null  object
 9   Channel           31047 non-null  object
 10  SKU               31047 non-null  object
 11  Category          31047 non-null  object
 12  Size              31047 non-null  object
 13  Qty               31047 non-null  int64
 14  currency          31047 non-null  object
 15  Amount            31047 non-null  int64
 16  ship-city         31047 non-null  object
 17  ship-state        31047 non-null  object
 18  ship-postal-code  31047 non-null  int64
 19  ship-country      31047 non-null  object
 20  B2B               31047 non-null  bool
dtypes: bool(1), datetime64[ns](1), int64(6), object(13)
memory usage: 4.8+ MB