In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("D:/Project/Data-Sciences/pandas/rating.csv")

In [5]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [6]:
df.rename(columns={'ConvertedComp': 'SalaryUSD'}, inplace=True)

rename the Title column

In [7]:
df.rename(columns={'title':'TITLE'}).head()

,star_rating,TITLE,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [8]:
df['star_rating'].head()

0    9.3
1    9.2
2    9.1
3    9.0
4    8.9
Name: star_rating, dtype: float64

In [35]:
df['content_rating'].head()

0        R
1        R
2        R
3    PG-13
4        R
Name: content_rating, dtype: object

In [36]:
df['genre'].map({'Yes': True, 'No': False}).head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: genre, dtype: object

In [37]:
df['genre'] = df['genre'].map({'Yes': True, 'No': False})
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,NaN,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,NaN,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,NaN,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,NaN,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,NaN,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [38]:
df['genre'].isna().count()

979