In [106]:
import pandas as pd

In [107]:
data = {
    "first": ["subham", 'Mohan', 'Sohan','sita'], 
    "last": ["kumar", 'kumar', 'kuamr','kumari'], 
    "email": ["r@gmail.com", 'e@email.com', 'e@email.com','e@email.com']
}

In [108]:
df = pd.DataFrame(data)

In [109]:
df

    first    last        email
0  subham   kumar  r@gmail.com
1   Mohan   kumar  e@email.com
2   Sohan   kuamr  e@email.com
3    sita  kumari  e@email.com

In [110]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [103]:
df.columns = ['first_name', 'last_name', 'email']

ValueError: Length mismatch: Expected axis has 4 elements, new values have 3 elements

In [75]:
df

  first_name last_name        email
0     subham     kumar  r@gmail.com
1      Mohan     kumar  e@email.com
2      Sohan     kuamr  e@email.com
3       sita    kumari  e@email.com

converting column in lower form

In [76]:
df.columns = [ x.lower()  for x in df.columns ]
df

  first_name last_name        email
0     subham     kumar  r@gmail.com
1      Mohan     kumar  e@email.com
2      Sohan     kuamr  e@email.com
3       sita    kumari  e@email.com

In [77]:
df.rename(columns={'first_name': 'first' , 'last_name': 'last'})

    first    last        email
0  subham   kumar  r@gmail.com
1   Mohan   kumar  e@email.com
2   Sohan   kuamr  e@email.com
3    sita  kumari  e@email.com

In [78]:
df.loc[2] = ['sk', 'kr', 'sk@email.com']
df

  first_name last_name         email
0     subham     kumar   r@gmail.com
1      Mohan     kumar   e@email.com
2         sk        kr  sk@email.com
3       sita    kumari   e@email.com

In [26]:
df.loc[2, ['last', 'email']]

last               kr
email    sk@email.com
Name: 2, dtype: object

In [100]:
df.loc[2, ['last', 'email']] = ['kumar', 'Ram@email.com']
df

  first_name last_name          email   last
0     subham     kumar    R@GMAIL.COM    NaN
1      Mohan     kumar    E@EMAIL.COM    NaN
2         sk        kr  Ram@email.com  kumar
3       sita    kumari    E@EMAIL.COM    NaN

In [30]:
df.loc[2, 'last'] = 'singh'

In [31]:
df

   firrst    last          email
0  subham   kumar    r@gmail.com
1   Mohan   kumar    e@email.com
2      sk   singh  Ram@email.com
3    sita  kumari    e@email.com

In [33]:
df.at[2, 'last'] = 'Raj'
df

   firrst    last          email
0  subham   kumar    r@gmail.com
1   Mohan   kumar    e@email.com
2      sk     Raj  Ram@email.com
3    sita  kumari    e@email.com

In [79]:
filt = (df['email'] == 'e@email.com')
df[filt]['last'] = 'kumar'

C:\Users\hp\AppData\Local\Temp\ipykernel_9248\702077365.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[filt]['last'] = 'kumar'

In [38]:
filt = (df['email'] == 'Ram@email.com')
df.loc[filt, 'last'] = 'Raj'

In [39]:
df['email'] = df['email'].str.lower()

In [99]:
df

  first_name last_name         email
0     subham     kumar   R@GMAIL.COM
1      Mohan     kumar   E@EMAIL.COM
2         sk        kr  SK@EMAIL.COM
3       sita    kumari   E@EMAIL.COM

In [84]:
df['email'].apply(len)

0    11
1    11
2    12
3    11
Name: email, dtype: int64

In [42]:
def update_email(email):
    return email.upper()

In [93]:
df['email'].apply(update_email)

0     R@GMAIL.COM
1     E@EMAIL.COM
2    SK@EMAIL.COM
3     E@EMAIL.COM
Name: email, dtype: object

In [98]:
df['email'] = df['email'].apply(lambda x: x.upper())

In [45]:
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [50]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [47]:
len(df['email'])

3

In [51]:
df.apply(pd.Series.min)

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [52]:
df.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [53]:
df.applymap(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     5     17

In [54]:
df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john    smith        johndoe@email.com

In [55]:
df['first'].map({'Corey': 'Chris', 'Jane': 'Mary'})

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [57]:
df['first'] = df['first'].replace({'Corey': 'Chris', 'Jane': 'Mary'})

In [58]:
df

   first     last                    email
0  Chris  Schafer  coreymschafer@gmail.com
1   Mary      Doe        janedoe@email.com
2   John    Smith        johndoe@email.com