In [1]:
import pandas as pd

In [2]:
coffees = pd.DataFrame({'Day':['Monday','Monday','Tuesday','Tuesday','Wednesday','Wednesday',
                              'Thursday','Thrusday','Friday','Friday','Saturday','Saturday','Sunday','Sunday'] , 
                              'Coffee Type' : ['Cortado','Latte','CAppuccino ','Mocha','Caffe machhiato','Cuban espresso','Espresso','Latte','Espresso',
                                                'Lattle','Flat white','Long Black','Espresso','Lattle'],
                              'Units Solid' : [25,15,30,20,35,25,40,30,45,35,45,50,55,60]

})

In [3]:
data= {'Day':['Monday','Monday','Tuesday','Tuesday','Wednesday','Wednesday',
                              'Thursday','Thrusday','Friday','Friday','Saturday','Saturday','Sunday','Sunday'] , 
                              'Coffee Type' : ['Cortado','Latte','CAppuccino ','Mocha','Caffe machhiato','Cuban espresso','Espresso','Latte','Espresso',
                                                'Lattle','Flat white','Long Black','Espresso','Lattle'],
                              'Units Solid' : [25,15,30,20,35,25,40,30,45,35,45,50,55,60]

}

In [4]:
coffee = pd.DataFrame(data)
coffee.head(4)

       Day  Coffee Type  Units Solid
0   Monday      Cortado           25
1   Monday        Latte           15
2  Tuesday  CAppuccino            30
3  Tuesday        Mocha           20

In [5]:
coffees.head()

         Day      Coffee Type  Units Solid
0     Monday          Cortado           25
1     Monday            Latte           15
2    Tuesday      CAppuccino            30
3    Tuesday            Mocha           20
4  Wednesday  Caffe machhiato           35

In [6]:
coffee.set_index('Day').head()

               Coffee Type  Units Solid
Day
Monday             Cortado           25
Monday               Latte           15
Tuesday        CAppuccino            30
Tuesday              Mocha           20
Wednesday  Caffe machhiato           35

In [7]:
coffee.index

RangeIndex(start=0, stop=14, step=1)

In [8]:
coffee.loc['Latte':'Coffee Type']

Empty DataFrame
Columns: [Day, Coffee Type, Units Solid]
Index: []

In [9]:
coffee.iloc[0]

Day             Monday
Coffee Type    Cortado
Units Solid         25
Name: 0, dtype: object

In [10]:
coffee.reset_index(inplace=True)
coffee

    index        Day      Coffee Type  Units Solid
0       0     Monday          Cortado           25
1       1     Monday            Latte           15
2       2    Tuesday      CAppuccino            30
3       3    Tuesday            Mocha           20
4       4  Wednesday  Caffe machhiato           35
5       5  Wednesday   Cuban espresso           25
6       6   Thursday         Espresso           40
7       7   Thrusday            Latte           30
8       8     Friday         Espresso           45
9       9     Friday           Lattle           35
10     10   Saturday       Flat white           45
11     11   Saturday       Long Black           50
12     12     Sunday         Espresso           55
13     13     Sunday           Lattle           60